<!DOCTYPE html>
<head>
    <!-- <script
      type="text/javascript"
      src="https://test.msg91.com/hello-new/assets/widget/chat-widget.js"
    ></script> -->
    
    
    <script>
      let loggedInClient = {
        api_base: "https://api-iam.intercom.io",
        app_id: "e77157qf",
        email: "{{ request.user.username }}", // Email address
        user_hash: "{{ user_hash }}",
      }
      window.intercomSettings = {
        api_base: "https://api-iam.intercom.io",
        app_id: "e77157qf",
        name: "manoj patel",
        created_at : 1665994451,
        email: "{{ request.user.username }}", // Email address
        user_hash: "{{ user_hash }}"
      };
      console.log(loggedInClient)
    </script>
    <script>
      // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/e77157qf'
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e77157qf';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
      </script>
  </head>
  
  <body>
    {% if request.user.is_authenticated %}

    <h3> Hello {{ request.user.username }}  <a href="{% url 'logout' %}">     logout     </a></h3> 
    
    {% endif %}
    <button onclick="initLoggedWidget()">Widget dikhaya jaye</button>
    <!-- <script>
  
      function initLoggedWidget() {
        let loggedInClient = {
        widgetToken: "{{ widget_token }}",
        unique_id: "{{ request.user.username }}",
        user_hash: "{{ user_hash }}",
      }
      console.log(loggedInClient)
        initChatWidget(loggedInClient, 0);
      }
    </script> -->
  </body>
  
</html>